<mat-icon class="close" style="cursor: pointer;" mat-dialog-close>clear</mat-icon>

<h2 style="padding-bottom: 0px; float: left;" class="section-title">
  <p *ngIf="isRetail">Retail Analysis Details</p>
  <p *ngIf="!isRetail">Wholesale Analysis Details</p>
</h2>

<div style="flex-wrap: wrap; display: flex; justify-content: flex-end;">
  <app-export-excel #excelExporter [fileName]="fileName" [data]="excelExportValue"></app-export-excel>
  <button style="height: 38px;" (click)="exportToExcel()" mat-flat-button color="primary">Generate Excel</button>
</div>

<br />
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="client" *ngFor="let client of displayedColumns; let index = index">
      <th mat-header-cell *matHeaderCellDef>{{ client }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element[client] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
