<mat-card>
  <div style="display: flex; justify-content: space-between;" class="function-headings">
    <h1>Page Group Management</h1>
    <button mat-stroked-button color="warn" style="margin-left: 1rem;" (click)="openItemDialog()">
      Add
    </button>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="GroupName">
        <th mat-header-cell *matHeaderCellDef>Group Name</th>
        <td mat-cell *matCellDef="let element">{{ element.GroupName }}</td>
      </ng-container>
      <ng-container matColumnDef="Ordering">
        <th mat-header-cell *matHeaderCellDef>Ordering</th>
        <td mat-cell *matCellDef="let element">{{ element.Ordering }}</td>
      </ng-container>
      <ng-container matColumnDef="Icon">
        <th mat-header-cell *matHeaderCellDef>Icon</th>
        <td mat-cell *matCellDef="let element">{{ element.Icon }}</td>
      </ng-container>
      <ng-container matColumnDef="handle">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; justify-content: flex-end;">
            <button mat-stroked-button color="warn" (click)="openItemDialog(element)">
              Modify
            </button>
            <button mat-stroked-button color="warn" style="margin-left: 1rem;" (click)="openPageManagement(element)">
              Page Management
            </button>
            <button mat-stroked-button color="warn" style="margin-left: 1rem;" (click)="deleteItem(element.GroupId)">
              Delete
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
