<div class="itemDialog" style="width: 100%; height: 100%; position: relative;">
  <h2 style="border-bottom: 1px solid rgba(0, 0, 0, 0.3); padding-bottom: 0.5rem;">Modify project</h2>
  <div style="margin-top: 1rem; margin-bottom: 1rem;" class="summaryInfo">
    <div>
      <span>Customer：</span>
      <app-card-customer [id]="data.CustomerId" [name]="data.CustomerName"></app-card-customer>
    </div>
    <div><span>isIncludeGST：</span>{{ data.InclGst ? 'Yes' : 'No' }}</div>
    <div><span>Created At：</span>{{ data.CreatedAt | UtcToLocalDatePipe | date }}</div>
  </div>
  <div>
    <form [formGroup]="userTable">
      <table style="table-layout: fixed; width: 100%;" class="table mat-elevation-z5">
        <thead class="text-nowrap">
          <th>Product</th>
          <th style="width: 10%;">Quantity</th>
          <th>Warehouse</th>
          <th style="width: 12%;">Unit Price</th>
          <th style="width: 25%;">
            <div style="display: flex; justify-content: space-around; align-items: flex-end;">
              <span>InclFright</span>
              <button style="margin-left: 0.5rem;" mat-flat-button color="warn" (click)="addRow()">
                Add row
              </button>
            </div>
          </th>
        </thead>
        <tbody>
          <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls; let i = index">
            <tr [formGroupName]="i">
              <td>
                <app-search-selection
                  [data]="1"
                  [isBaseProduct]="true"
                  [selectionPlaceholder]="group.value.ProductId === group.value.ProductOriginalId ? group.value.ProductName : 'Select a product...'"
                  formControlName="ProductId"
                  [isShowLabel]="group.value.ProductName"
                ></app-search-selection>
              </td>
              <td>
                <mat-form-field style="position: relative; top: 2px;" appearance="outline" floatLabel="never">
                  <input matInput type="number" formControlName="Quantity" />
                </mat-form-field>
              </td>
              <td>
                <app-search-selection
                  *ngIf="group.value.ProductId"
                  [data]="3"
                  [selectionPlaceholder]="
                    group.value.ProductId === group.value.ProductOriginalId && group.value.WarehouseId.WarehouseId === group.value.WarehouseOriginalId
                      ? group.value.WarehouseName
                      : 'Select a warehouse...'
                  "
                  [isStockWarehouse]="true"
                  [productIdStockWarehouse]="group.value.ProductId"
                  [isShowLabel]="group.value.WarehouseName"
                  formControlName="WarehouseId"
                ></app-search-selection>
                <mat-form-field *ngIf="!group.value.ProductId" appearance="outline" floatLabel="never">
                  <input matInput readonly type="text" formControlName="ProductId" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field style="position: relative; top: 2px;" appearance="outline" floatLabel="never">
                  <input [value]="group.value.UnitPrice" matInput type="number" formControlName="UnitPrice" />
                </mat-form-field>
              </td>
              <td>
                <div style="display: flex; justify-content: space-around; align-items: baseline;">
                  <mat-form-field style="width: 30%;" appearance="outline" floatLabel="never">
                    <mat-select formControlName="InclFright">
                      <mat-option [value]="1">Yes</mat-option>
                      <mat-option [value]="0">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-stroked-button color="warn" (click)="deleteRow(i)">
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </form>
  </div>
  <!--  <div>-->
  <!--    {{ getFormControls.value | json }}-->
  <!--  </div>-->
  <div style="text-align: end;">
    <button mat-flat-button color="primary" style="margin: 1rem;" (click)="onClose(false)">
      Cancel
    </button>
    <button mat-flat-button color="warn" style="margin: 1rem;" (click)="onClose(true)">
      Save
    </button>
  </div>
</div>
