<div class="overflow-auto">
  <form [formGroup]="userTable">
    <table class="table mat-elevation-z5">
      <thead class="text-nowrap">
        <th>No</th>
        <th>Procurement items</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Total price</th>
        <th>Product expiration date</th>
        <th>Comment</th>
        <th></th>
      </thead>
      <tbody>
        <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls; let i = index">
          <tr [formGroupName]="i">
            <td style="text-align: center; line-height: 2rem;">
              {{ i + 1 }}
            </td>
            <td>
              <app-search-selection
                [isBaseProduct]="true"
                [isRequiredValidator]="true"
                [data]="1"
                formControlName="BaseProductId"
              ></app-search-selection>
            </td>
            <td>
              <mat-form-field appearance="outline" floatLabel="never">
                <input matInput type="number" formControlName="Quantity" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" floatLabel="never">
                <input matInput type="number" formControlName="UnitPrice" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" floatLabel="never">
                <input matInput type="text" readonly [value]="getTotalPrice(control.value[i]) | currency" formControlName="TotalPrice" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" floatLabel="never">
                <input matInput formControlName="ProductExp" [matDatepicker]="picker" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" floatLabel="never">
                <textarea matInput [rows]="1" formControlName="Comments" placeholder="Comment content..."></textarea>
              </mat-form-field>
            </td>
            <td>
              <button class="mat-icon-button" mat-stroked-button (click)="deleteRow(i)">
                <div class="mat-icon-div">
                  <mat-icon>delete_forever</mat-icon>
                </div>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="action-container">
      <button mat-raised-button type="button" (click)="addRow()" color="warn">
        Add row
      </button>
      <button mat-raised-button [disabled]="userTable.invalid" type="submit" (click)="submitForm()" color="warn">
        Save
      </button>
    </div>
  </form>
</div>
