<mat-icon class="close" style="cursor: pointer;" (click)="closeDialog()">clear</mat-icon>
<h2 mat-dialog-title>Financial order changes</h2>

<mat-dialog-content *ngIf="orderData">
  <div style="display: flex; flex-wrap: wrap; line-height: 40px;">
    <div><span class="detailTypeName">Order No：</span>{{ orderData.OrderNo }}</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <div>
      <span class="detailTypeName">Customer Name：</span>
      <app-card-customer class="popover-link" [name]="orderData.CustomerString" [id]="orderData.BillingCustomerId"></app-card-customer>
    </div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <div><span class="detailTypeName">Status：</span>{{ orderData.Status | OrderStatusPipe }}</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <div><span class="detailTypeName">Reference：</span>{{ orderData.Reference }}</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <div><span class="detailTypeName">Cin7 InterCode：</span>{{ orderData.Cin7InterCode }}</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <div><span class="detailTypeName">EnterDate：</span> {{ orderData.EnterDate | date }}</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <div><span class="detailTypeName">BillingDate：</span> {{ orderData.BillingDate | date }}</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <div><span class="detailTypeName">Target warehouse：</span>{{ orderData.WarehouseId | WarehousePipe }}</div>

    <div><span class="detailTypeName">Product String：</span>{{ orderData.ProductString }}</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <!-- <div><span class="detailTypeName">收件人：</span>{{ orderData.Recipient }}</div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <div><span class="detailTypeName">收件人证据号：</span>{{ orderData.RecipientIdno }}</div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <div><span class="detailTypeName">收件人电话：</span>{{ orderData.RecipientPhone }}</div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <div><span class="detailTypeName">收件人地址：</span>{{ orderData.RecipientAddr }}</div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->
  </div>
  <div class="row">
    <div class="col-md-6"><span class="detailTypeName">Comment1：</span>{{ orderData.Comment1 }}</div>

    <div class="col-md-6"><span class="detailTypeName">Comment2：</span>{{ orderData.Comment2 }}</div>

    <div class="col-md-6"><span class="detailTypeName">Financial Comment：</span>{{ orderData.Comment3 }}</div>
  </div>

  <div style="display: flex; flex-wrap: wrap; line-height: 40px;">
    <div><span class="detailTypeName">Unit Price：</span>{{ orderData.UnitPrice | currency }}</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div><span class="detailTypeName">Total Price：</span>{{ orderData.TotalPrice | currency }}</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div><span class="detailTypeName">Uom：</span>{{ orderData.Uom }}</div>
  </div>

  <app-order-change #orderChange [data]="orderData"></app-order-change>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <span *ngIf="viewRendered">
    <button (click)="saveChanges()" [disabled]="!orderChangeForm.form.dirty" mat-flat-button color="warn">Save</button>
  </span>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
