<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort cdkDropList cdkDropListOrientation="horizontal">
    <ng-container matColumnDef="productName">
      <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Product Names</th>
      <td mat-cell *matCellDef="let element">
        <app-search-selection
          [selectionPlaceholder]="element.controls.productName.value"
          [data]="1"
          [formControl]="element.controls.productId"
          [isBaseProduct]="true"
          (click)="getProduct(element)"
        ></app-search-selection>
      </td>
    </ng-container>

    <ng-container matColumnDef="实际库存">
      <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Available Quantity</th>
      <td mat-cell *matCellDef="let element">
        {{ element.value.quantityForShowingOnly }}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantityOfProduct">
      <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Products Quantity</th>
      <td mat-cell *matCellDef="let element">
        <app-product-quantity [sgn]="1" (outputData)="getQuantity(element, $event)"></app-product-quantity>
      </td>
    </ng-container>

    <ng-container matColumnDef="images">
      <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Images</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="addImages(element)" mat-raised-button color="accent" class="m-2">Upload Images</button>
        <a style="color: #0088ff;" (click)="showImages(element)"> Show Images Uploaded </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>
        Delete
      </th>
      <td mat-cell *matCellDef="let element; let index = index">
        <button mat-raised-button (click)="removeRow(element)" color="warn">Delete product</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- <button (click)="test1()">test1</button> -->
