/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  /* min-width: 25px !important;
          padding: 5px;
          background-color: transparent; */
  color: #1370eb;
  /* font-weight: 700; */
}
