<mat-card>
  <section style="padding: 24px;">
    <h2 style="float: left;" class="section-title">Order Tickets Management</h2>
    <div style="display: flex; justify-content: flex-end;">
      <app-simple-dropdown [label]="'Select question completion status'" [data]="statusDropDown" (outputData)="getStatus($event)">
      </app-simple-dropdown>
      &nbsp; &nbsp;
      <input (keyup)="applyFilter($event)" type="text" style="max-width: 300px;" class="form-control" placeholder="Search" />
      &nbsp; &nbsp;
      <button mat-stroked-button (click)="newTicket()" color="primary">New</button>
    </div>
  </section>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
      <ng-container matColumnDef="订单号">
        <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Order No</th>
        <td mat-cell *matCellDef="let element">{{ element.OrderNo }}</td>
      </ng-container>

      <ng-container matColumnDef="内容">
        <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Content</th>
        <td mat-cell *matCellDef="let element">{{ element.Content }}</td>
      </ng-container>

      <ng-container matColumnDef="受理时间">
        <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let element">{{ element.CreatedAt }}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="当前">
        <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>处理结果</th>
        <td mat-cell *matCellDef="let element">{{ element.Progress }}</td>
      </ng-container> -->

      <ng-container matColumnDef="状态">
        <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.Status }}</td>
      </ng-container>

      <ng-container matColumnDef="当前责任人">
        <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Current responsible person</th>
        <td mat-cell *matCellDef="let element">{{ element.InchargeUserName }}</td>
      </ng-container>

      <ng-container matColumnDef="当前处理状况">
        <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Current processing status</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.Progress">
            {{ element.CurrentContent }}
          </span>
          <span style="color: #919191; font-size: 12px;" *ngIf="!element.Progress">
            {{ element.CurrentContent }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="查看">
        <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>View order</th>
        <td mat-cell *matCellDef="let element">
          <span class="link-text" (click)="checkOrderDetails(element)">
            View related orders
          </span>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="link-text" (click)="checkTicketDetails(element)">
            View problem log
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="处理关闭">
        <th mat-header-cell cdkDrag mat-sort-header *matHeaderCellDef>Process completed</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="toShutTicket(element)" mat-raised-button color="warn" class="m-2" [disabled]="element.Status == '已完成'">
            Confirm complete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
