<div>
  <span>Customer：</span>
  <app-search-selection
    [data]="2"
    [isStockCustomer]="true"
    [selectionPlaceholder]="customerPlaceHolder"
    [formControl]="customerFormControl"
  ></app-search-selection>
</div>
<div>
  <span>Mapping：</span>
  <div>
    <mat-form-field appearance="outline" floatLabel="never">
      <input type="text" matInput [(ngModel)]="stockCustomerInfo" />
    </mat-form-field>
  </div>
</div>
<div style="display: flex; justify-content: flex-end;">
  <button mat-flat-button color="primary" (click)="onClose(false)">
    Cancel
  </button>
  <button mat-flat-button color="warn" style="margin-left: 0.5rem;" (click)="onClose(true)">
    Save
  </button>
</div>
