<mat-icon class="close" mat-button mat-dialog-close>clear</mat-icon>

<h2 mat-dialog-title>修改密码 &nbsp;</h2>

<span class="example-full-width" style="color: orangered;" *ngIf="errorMessage">
  {{ errorMessage }}
</span>
<br />
<form [formGroup]="form" class="example-form">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>当前密码</mat-label>
    <input matInput formControlName="oldPassword" type="Password" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>新密码</mat-label>
    <input matInput formControlName="password" type="Password" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>确定新密码</mat-label>
    <input matInput formControlName="confirmPassword" type="Password" />
  </mat-form-field>

  <button mat-raised-button color="warn" (click)="submitChanges()">保存更改</button>
</form>
