<mat-tab-group>
  <mat-tab label="Order modification">
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="singleDataSource">
        <ng-container matColumnDef="面单类型">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let element">{{ element.ProjectName }}</td>
        </ng-container>

        <ng-container matColumnDef="订单编号">
          <th mat-header-cell *matHeaderCellDef>Order No</th>
          <td mat-cell *matCellDef="let element">{{ element.OrderNo }}</td>
        </ng-container>

        <ng-container matColumnDef="品名简称">
          <th mat-header-cell *matHeaderCellDef>Product Code</th>
          <td mat-cell *matCellDef="let element">{{ element.ProductCode }}</td>
        </ng-container>

        <ng-container matColumnDef="仓储客户">
          <th mat-header-cell *matHeaderCellDef>Stock Customer</th>
          <td mat-cell *matCellDef="let element">{{ element.StockCustomerCode }}</td>
        </ng-container>

        <ng-container matColumnDef="客服备注1">
          <th mat-header-cell *matHeaderCellDef>Comment1</th>
          <td mat-cell *matCellDef="let element">{{ element.Comment1 }}</td>
        </ng-container>

        <ng-container matColumnDef="客服备注2">
          <th mat-header-cell *matHeaderCellDef>Comment2</th>
          <td mat-cell *matCellDef="let element">{{ element.Comment2 }}</td>
        </ng-container>

        <ng-container matColumnDef="财务备注">
          <th mat-header-cell *matHeaderCellDef>Finance Comment</th>
          <td mat-cell *matCellDef="let element">{{ element.Comment3 }}</td>
        </ng-container>

        <ng-container matColumnDef="分仓规则">
          <th mat-header-cell *matHeaderCellDef>Distribution Rule</th>
          <td mat-cell *matCellDef="let element">
            <form class="example-form">
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  type="text"
                  placeholder="Select the distribution rule"
                  aria-label="Number"
                  matInput
                  [formControl]="element.orderFormControl"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let rule of rulesForOptions" [value]="rule" (click)="ruleToSingleOrder(rule, element)">
                    {{ rule }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="singleColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: singleColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      <!-- <button (click)="test()">TestSingle</button> -->
    </div>
  </mat-tab>

  <mat-tab label="Batch Edit">
    <div class="example-container mat-elevation-z8">
      <table mat-table matSort [dataSource]="groupDataSource">
        <ng-container matColumnDef="仓储客户">
          <th mat-header-cell *matHeaderCellDef>Stock Customer</th>
          <td mat-cell *matCellDef="let element">{{ element.StockCustomerCode }}</td>
        </ng-container>

        <ng-container matColumnDef="面单类型">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let element">{{ element.ProjectName }}</td>
        </ng-container>

        <ng-container matColumnDef="品名简称">
          <th mat-header-cell *matHeaderCellDef>Product Code</th>
          <td mat-cell *matCellDef="let element">{{ element.ProductCode }}</td>
        </ng-container>

        <ng-container matColumnDef="订单数量">
          <th mat-header-cell *matHeaderCellDef>quantity of order</th>
          <td mat-cell *matCellDef="let element">{{ element.getNumberOfGroupOrder() }}</td>
        </ng-container>

        <ng-container matColumnDef="分仓规则">
          <th mat-header-cell *matHeaderCellDef>Distribution Rule</th>
          <td mat-cell *matCellDef="let element">
            <form class="example-form">
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  type="text"
                  placeholder="Select the distribution rule"
                  aria-label="Number"
                  matInput
                  [formControl]="element.groupOrderFormControl"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let rule of rulesForOptions" [value]="rule" (click)="ruleToGroupOrder(rule, element)">
                    {{ rule }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="groupColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: groupColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
    <!-- <button (click)="test2()">TestGroup</button> -->
  </mat-tab>
</mat-tab-group>
