<div>
  <div style="display: flex; justify-content: space-between; align-items: baseline;">
    <mat-paginator [pageSizeOptions]="[5, 10, 30, 50]" showFirstLastButtons></mat-paginator>
    <div>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close style="font-size: 1.5rem; color: rgba(0, 0, 0, 0.9);">X</button>
      </mat-dialog-actions>
    </div>
  </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3 tableDiv">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef>Customer</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <div>
            <span>Name：</span>
            <app-card-customer
              [id]="element.customer.CustomerId"
              [name]="element.customer.CustomerCode + ' -- ' + element.customer.CustomerName"
            ></app-card-customer>
          </div>
          <div><span>First Name：</span>{{ element.customer.FirstName }}</div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <div>
            <span>Name：</span>
            <app-card-product
              [id]="element.product.ProductId"
              [name]="element.product.ProductCode + ' -- ' + element.product.ProductName"
            ></app-card-product>
          </div>
          <div><span>Quantity：</span>{{ element.product.Quantity }}</div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="other">
      <mat-header-cell *matHeaderCellDef>Others</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <div><span>Warehouse：</span>{{ element.other.Warehouse }}</div>
          <div><span>Comment：</span>{{ element.other.Comment }}</div>
          <div><span>Created At：</span>{{ getLocateDateString(element.other.CreatedAt) | date }}</div>
          <div><span>Created User Name：</span>{{ element.other.CreatedUserName }}</div>
          <div><span>Canceled User Name：</span>{{ element.other.CanceledUserName }}</div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <img *ngFor="let row of element.image" style="margin-left: 0.5rem;" [src]="row['Url']" height="50px" alt="image_label" />
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
