.swal-popup-class {
  text-align: left !important;
  height: 120px !important;
}

.swal-popup-success {
  height: 100px !important;
}
.swal-popup-alert {
  height: 200px !important;
}
.swal-title-class {
  position: absolute !important;
  left: 14px !important;
  top: 14px !important;
}

.swal-content-class {
  position: absolute !important;
  left: 14px !important;
  top: 60px !important;
}

.swal-icon-class {
  width: 20px !important;
  height: 20px !important;
}

.swal-icon-alert {
  position: absolute !important;
  left: 14px !important;
  top: -0px !important;
}

.swal-title-alert {
  position: absolute !important;
  left: 124px !important;
  // top:114px !important;
}

.swal-confirm-button-class {
  position: absolute !important;
  right: 14px !important;
  bottom: 14px !important;
  padding: 7px 17px 7px 17px !important;
  background-color: #2189ff !important;
}

//   .swal-container-class{
//     text-align: left !important;
//   }
